*{
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
}
.main{
background-image:linear-gradient(orange, #ffff);

}

.calculator{
  display: flex;
  flex-direction:row;
  padding: 2rem 4rem;
  background-color: #ffffff;
  width: 85%;
  margin: auto;
  border-radius: 0.5rem;
}
#formDiv {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  flex-direction: column;
  
  padding: 2rem 3rem;;
}

#formDiv h1{
 margin-bottom: 2rem;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 

}
.input-group{
  
  width: 100%;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}


.input-range-container span {
  float: right;
  margin-right: 1rem;
}


input[type="range"]::-webkit-slider-thumb {
  background-color: purple;
}

input[type="range"]::-moz-range-thumb {
  background-color: purple;
}





button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#graph{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 1rem;
text-align: center;
gap: 1rem;
}
.graph1,
.graph2{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
